.switch-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2E3F6C;
  border-radius: 100px;
  padding: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.switch-btn {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: none;
  gap: 8px;
}

.icon {
  font-size: 20px;
  /* padding: 8px; */
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 100%;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.icon.active {
  background-color: #FFB800;
  color: #0F1E46;
}

.icon:hover {
  background-color: #1E2A4C;
  color: #fff;
}
