.ProfilePlanWrapper{
    background-color: #2E3F6C;
    padding: 12px;
    border-radius: 12px;
}
.userProfile{
    height: 36px;
    width: 36px;
    object-fit: cover;
}
.userDetails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.userName{
    font-size: 12px;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 4px;
    margin-top: 0;
    display: -webkit-box;       
    -webkit-line-clamp: 1;         
    -webkit-box-orient: vertical;  
    overflow: hidden;              
    text-overflow: ellipsis;

}
.mailId{
    font-size: 12px;
    color: #747D96;
    margin: 0;
    display: -webkit-box;          
    -webkit-line-clamp: 1;         
    -webkit-box-orient: vertical;  
    overflow: hidden;              
    text-overflow: ellipsis;
}
.currentPlan{
    background-color: #0F1E46;
    color: #fff;
    font-size: 11px;
    margin: 0px;
    padding: 4px 8px;
    border-radius: 16px;
    line-height: normal;
}
.detailsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}