.badgeCount{
background-color: #2E3F6C;
font-size: 16px;
padding: 4px 8px;
border-radius: 12px;
}

/* Custom scrollbar for the sidebar */
.css-w2i7b3-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
    width: 2px; 
  }
  
  
  .css-w2i7b3-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }
  
  .css-w2i7b3-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb {
    background-color: #3f4b6b; 
    border-radius: 4px;
  }
  
  .css-w2i7b3-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb:hover {
    background-color: #5a6a91;
  }

  .css-1n55w2n-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
    width: 4px; 
  }
  .css-1n55w2n-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-track {
    background: #f0f0f0; 
  }
  
  .css-1n55w2n-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb {
    background-color: #3f4b6b;
    border-radius: 4px;    
  }
  
  .css-1n55w2n-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb:hover {
    background-color: #5a6a91;
  }